@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

:root {
    --text-color: #373737;
    --border-color: #5489b2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    position: relative;
}

.container {
    padding: 10px 40px;
}

.navBar {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    border-bottom: 2px solid var(--border-color);
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
}

.logoWrapper {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: .5em;
    cursor: pointer;
}

.logo {
    font-size: 40px;
    letter-spacing: 2px;
    color:  var(--border-color);
}

.logoText {
    font-size: 25px;
    color:  var(--border-color);
}

.mobileNavLinks {
    display: none;
}

.navLinks ul {
    display: flex;
    align-items: center;
    gap: 2em;
    list-style: none;
}

.navLinks ul a{
    text-decoration: none;
    color:  var(--text-color);
    font-size: 18px;
    position: relative;
}

.navLinks ul a::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--text-color);
    transition: all 350ms ease;
}

.navLinks ul a:hover::before {
    width: 100%;
}
.main {
    width: 100%;
    padding: 40px 0;
    margin-top: 80px;
}

.mainContent {
    width: 70%;
    min-width: 400px;
    margin: 0 auto;
    /* border: 2px solid var(--border-color); */

}

.mainContent h1 {
    font-size: 40px;
    color: var(--text-color);
}

.lead {
    font-size: 18px;
    line-height: 1.8;
    margin: 30px 0;
    color: var(--text-color);
    font-weight: 300;
}

.assignment {
    border: 2px solid var(--border-color);
    margin: 40px 0;
    padding: 40px 0;
}

.assignment h1 {
    text-align: center;
    font-size: 40px;
}


.members {
    margin: 40px 0;
    padding: 40px 0;
}

.members h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

.avatarWrapper {
    width: 100%;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.avatar {
    flex: 1;
    min-width: 313px;
    max-width: 315px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    margin: 30px 0;

}

.avatar img {
    width: 80%;
    border-radius: 50%;
    margin: 20px 0;
}

.avatar h3 {
    font-weight: 300;
}

.about h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}


footer {
    border-top: 2px solid var(--border-color);
    padding: 60px 20px;
    text-align: center;
}

footer p {
    font-size: 25px;
    color: var(--text-color);
    font-weight: 300;
    margin: 30px 0;
}

footer span {
    font-size: 20px;
    color: var(--text-color);
    font-weight: 200;
}

.open {
    display: none;
}


@media(max-width: 720px) {
    .navBar {
        padding: 0 30px;
        position: relative;
    }

    .navLinks {
        display: none;
    }

    .open {
        display: block;
        font-size: 35px;
        color: var(--text-color);
        cursor: pointer;
    }

    .mobileNavLinks {
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        left: -100%;
        background-color: #fff;
        border-bottom: 2px solid var(--border-color);
        transition: left 250ms;
    }

    .show {
        left: 0;
    }

    .mobileNavLinks ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        width: 100%;
        padding: 20px 30px;
        gap: 1em;
    }

    .mobileNavLinks ul a {
        color: var(--text-color);
        font-size: 18px;
        text-decoration: none;
    }

    .material-icons-outlined.close {
        font-size: 34px;
        display: flex;
        padding: 10px 20px;
        justify-content: flex-end;
        cursor: pointer;
    }
}










